/*common*/
body {
    /*background-color: rgb(242, 243, 245);*/
    width: 100%;
}

.body {
    overflow-y: auto;
    height: 100px;
}

header {
    text-align: center;
}

footer {
    text-align: center;
}

/*container*/
.container {
    font-family: "배달의민족 도현";
    width: 80%;
    margin: 100px auto;
}

.container .location {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

/*container 안에 색상*/
.container .location {
    background-color: #fff;
}

.container .location #map {
    width: 100%;
    height: 500px;
    border: 1px solid #d9d9d9;
}

.container .location #food_rank_map {
    width: 100%;
    height: 450px;
    border: 1px solid #d9d9d9;
}

.container .location .map-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    width: 100%;
    height: 150px;
    padding: 50px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
}

.container .location .map-title .kosa-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.container .location .map-title .kosa-link #kosa-title {
    color: black;
}

.container .location .map-title .kosa-link #kosa-title:hover {
    color: #86b7fe;
}

.container .location .map-title .kosa-link #kosa-img {
    width: 200px;
    height: 130px;
}

.container .location .map-subtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 30px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.container .location .map-content {
    font-family: "배달의민족 도현";
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

.container .location .map-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.transport-row {
    display: flex;
    flex-direction: row;
    margin: 2px;

}

.container .location .map-content .transport .transport-col {
    display: flex;
    flex-direction: column;
}

/* 장소 > 교육장소 > 찾아오시는길 */
/*.map_api {*/
/*    height: 440px;*/
/*    border: 1px solid #d9d9d9;*/
/*}*/

ul.traffic {
    margin: 50px 10px;
    padding: 0px
}

ul.traffic:after {
    display: block;
    content: '';
    clear: both;
}

ul.traffic > li {
    float: left;
    box-sizing: border-box;
    list-style-type: none;
}

ul.traffic > li.col1 {
    width: 47%;
}

ul.traffic > li.col2 {
    width: 53%;
    /*border-left: 1px solid #d9d9d9;*/
}

ul.traffic > li > dl {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 15px;
}

ul.traffic > li > dl dt {
    font-size: 1.1em;
    font-weight: 700;
    padding-bottom: 5px;
}

ul.traffic > li > dl dd {
    padding: 0px 0;
}

/*ul.traffic > li > dl.address {*/
/*    background: url(../images/Do.JPG) no-repeat 20px 3px;*/
/*}*/

/*ul.traffic > li > dl.tel {*/
/*    background: url(../images/Do.JPG) no-repeat 20px 3px;*/
/*}*/

/*ul.traffic > li > dl.traffic {*/
/*    background: url(../images/Do.JPG) no-repeat 20px 3px;*/
/*}*/

ul.traffic > li > dl.traffic dl {
    padding-bottom: 15px;
}

ul.traffic > li > dl.traffic dd.line1 {
    color: #fff;
    font-size: 14px;
    line-height: 1;
    padding: 5px 15px 6px;
    border-radius: 100px;
    background: #003499;
    display: inline-block;
}

ul.traffic > li > dl.traffic dd.line3 {
    color: #fff;
    font-size: 14px;
    line-height: 1;
    padding: 5px 15px 6px;
    border-radius: 100px;
    background: #fa5f2c;
    display: inline-block;
}

ul.traffic > li > dl.traffic dd.line7 {
    color: #fff;
    font-size: 14px;
    line-height: 1;
    padding: 5px 15px 6px;
    border-radius: 100px;
    background: #606d00;
    display: inline-block;
}

ul.traffic > li > dl.traffic dd.line8 {
    color: #fff;
    font-size: 14px;
    line-height: 1;
    padding: 5px 15px 6px;
    border-radius: 100px;
    background: #e71e6e;
    display: inline-block;
}

ul.traffic > li > dl.traffic dd:before {
    color: #fff;
    font-size: 14px;
    line-height: 1;
    padding: 5px 15px 6px;
    border-radius: 100px;
    background: #e71e6e;
    display: inline-block;
}

ul.traffic > li > dl.traffic span {
    font-size: 1.1em;
    padding-left: 10px;
}

ul.traffic > li > dl.traffic dd ul {
    padding-left: 10px;
}

/*ul.traffic > li > dl.bus {*/
/*    background: url(../images/Do.JPG) no-repeat 20px 3px;*/
/*}*/

ul.traffic > li > dl.bus dl {
    padding-bottom: 0px;
    padding-top: 10px;
}

ul.traffic > li > dl.bus dd.trunk1 {
    color: #fff;
    font-size: 14px;
    line-height: 1;
    padding: 5px 15px 6px;
    border-radius: 100px;
    background: #002060;
    display: inline-block;
}

ul.traffic > li > dl.bus dd.trunk2 {
    color: #fff;
    font-size: 14px;
    line-height: 1;
    padding: 5px 15px 6px;
    border-radius: 100px;
    background: #13b050;
    display: inline-block;
}

ul.traffic > li > dl.bus dd.trunk3 {
    color: #fff;
    font-size: 14px;
    line-height: 1;
    padding: 5px 15px 6px;
    border-radius: 100px;
    background: #f17f2b;
    display: inline-block;
}

ul.traffic > li > dl.bus dd:before {
    color: #fff;
    font-size: 14px;
    line-height: 1;
    padding: 5px 15px 6px;
    border-radius: 100px;
    background: #e71e6e;
    display: inline-block;
}

ul.traffic > li > dl.bus span {
    font-size: 1.1em;
    padding-left: 10px;
    line-height: 2;
}

ul.traffic > li > dl.bus dd ul {
    padding-left: 10px;
}

/*location_map 인포윈도우*/
.info-window {
    width: 180px;
    height: 80px;
    border-color: #d9d9d9;
    border-radius: 10px;
}

.info-window .info-window-title {
    display: flex;
    flex-direction: row;
    font-size: 17px;
}

.info-window .info-window-sub-title .info-window-title-link {
    font-size: 17px;
    align-items: center;
    justify-content: center;
}

.info-window .info-window-sub-title {
    font-size: 12px;
}

/*location-food tabs*/
.this:hover .mdc-tab__text-label {
    background-color: #0097ec;
    color: white;
    opacity: 1;
}

.this:focus .mdc-tab__text-label {
    background-color: #0097ec;
    color: white;
    opacity: 0.3;
}

#map {
    margin-top: 0px;
}

.container .location #food-photo {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.container .location #food-photo .row .card {
    margin: 20px;
}

.container .location #food-photo .row .card .card-img-top {
    width: 250px;
    height: 200px;
}

.container .location #food-photo .row .card .card-title {
    width: auto;
    height: 25px;
}

.container .location #food-photo .row .card .card-text {
    width: auto;
    height: 50px;
}

.carousel-inner.carousel-item > img{
    width: 300px;
    height: 300px;
}



