@charset "UTF-8";

@font-face {
    font-family: 'KoPubDotumMedium';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{

	font-family: KoPubDotumMedium;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.tech_wrap {
	white-space: nowrap;
	overflow-x: auto;
	width: 100%;
	position: relative;
	margin: 30px 0;
}

ul.tech_tab {
	text-align: center;
	z-index: 1;
	position: relative;
}

ul.tech_tab li {
	display: inline-block;
	text-align: center;
}

ul.tech_tab li a {
	display: inline-block;
	font: 400 21px/30px "Open Sans", "Noto Sans KR", sans-serif;
	color: #666;
	position: relative;
	transition: all 0.3s;
	padding: 9px 15px;
	border-radius: 0 15px 15px 15px;
	text-decoration: none;
}
ul.tech_tab li a.on {
	display: inline-block;
	font: 400 21px/30px 'Noto Sans KR', sans-serif;
	color: #fff;
	background: rgb(127,127,127);
	transition: all 0.2s;
}

.main_info .min_cont {
	height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#info02 ul.info_list{
    width: 30%;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 20px;
    text-align: center;
}

#info02 ul.info_list li {
    list-style: none; position : relative;
	height: auto;
	background: #fff;
	border: solid 1px #ddd;
	width: 100%;
	border-radius: 0 25px 25px 25px;
	box-sizing: border-box;
	padding: 10px;
}

#info02 ul.info_list li:not(:first-child) {
   margin-top: 20px;
}

#info02 ul.info_list li:hover {
	transition: all 0.3s;
	cursor: pointer;
	border: 1px solid transparent;
	background-image: linear-gradient(#fff, #fff),
		linear-gradient(to right, #c8aae6, #99b2e5, #7fb7e5); /* 그라데이션 */
	background-origin: border-box;
	background-clip: content-box, border-box;
	border-radius: 0 25px 25px 25px;
	box-shadow: 9px 10px 23px 5px rgba(0, 0, 0, 0.2);
}

ul.info_list li {
	list-style: none; position : relative;
	height: auto;
	float: left;
	background: #fff;
	border: solid 1px #ddd;
	width: auto;
	border-radius: 0 25px 25px 25px;
	box-sizing: border-box;
	padding: 10px;
}

ul.info_list li:hover {
	transition: all 0.3s;
	cursor: pointer;
	border: 1px solid transparent;
	background-image: linear-gradient(#fff, #fff),
		linear-gradient(to right, #c8aae6, #99b2e5, #7fb7e5); /* 그라데이션 */
	background-origin: border-box;
	background-clip: content-box, border-box;
	border-radius: 0 25px 25px 25px;
	box-shadow: 9px 10px 23px 5px rgba(0, 0, 0, 0.2);
}

#info01 ul.info_list li{
	height: 300px;
	width: 300px;
}
#info01 ul.info_list li{
	margin-right: 23px;
}


#info01 ul.info_list li.info_li > img{
	width:250px;
	height: auto;
	margin-left: 10%;
}

#info01 ul.info_list li.info_li > span {
	margin-left: 45%;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 20px;
}

.mySlides {
    display: none;
    margin-top: 10%;

}

.mySlides > img{
    vertical-align: middle;
    width: 60%;
    max-height: 400px;

}
/* img {
    vertical-align: middle;
    width: 60%;
    height: auto;

} */

/* Slideshow container */
.slideshow-container {
  max-height: 400px;
  position: relative;
  margin-left: 28%;
}

/* Caption text */
/* .text {
  color: #000000;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
} */

/* Number text (1/3 etc) */
/* .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
} */

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}