@font-face {
	font-family: 'BMDOHYEON';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'KoPubDotumMedium';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

/*sidebar*/
/*사이드바*/
#aside-bar {
	font-family: 'BMDOHYEON';
	width: 200px;
	height: 150px;
	position: fixed;
	margin: 50px 0px 50px 30px;
	grid-area: sidebar;
}

#aside-bar-ul {
	width: 100%;
	height: 100%;
}

#aside-bar #aside-bar-ul .nav-item .nav-item-h1 {
	height: 50px;
	align-items: center;
	justify-content: center;
	font-family: 'BMDOHYEON';
}

#aside-bar #aside-bar-ul .nav-item {
	width: 100%;
	height: 33%;
	border-radius: 10px;
	border: 2px solid #0097ec;

	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;

	text-decoration: none;
	font-family: 'BMDOHYEON';
}

#aside-bar #aside-bar-ul .nav-item:hover {
	width: 110%;
	font-family: 'BMDOHYEON';
	text-decoration: none;
}

#aside-bar #aside-bar-ul .nav-item.nav-item-title {
	background-color: white;
	border: 0px solid #0097ec;
}

#aside-bar #aside-bar-ul .nav-item .nav-link {
	color: black;
	width: 100%;
	height: 100%;
	font-family: 'BMDOHYEON';
	text-decoration: none;
	display: flex;
	flex-direction: row;
	text-align: center;
	align-items: center;
	justify-content: center;
}

#aside-bar #aside-bar-ul .nav-item .nav-item-h1 {
	font-size: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'BMDOHYEON';
	text-decoration: none;
}

#aside-bar #aside-bar-ul .nav-item .nav-item-h2 {
	font-size: 20px;
	font-family: 'BMDOHYEON';
	text-decoration: none;
	text-align: center;
	display: flex;
	flex-direction: row;
}

#aside-bar #aside-bar-ul .nav-item .nav-link.active {
	color: cornsilk;
	background-color: dodgerblue;
}
